<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="flux-mainsection">
  <template>
    <template is="dom-if" if="{{isNotEmpty(allTodos)}}">
      <section id="main">
        <input
          id="toggle-all"
          type="checkbox"
          on-change="_onToggleCompleteAll"
          checked="{{isChecked(areAllComplete)}}"
        />
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <template is="dom-repeat" items="{{_toArray(allTodos)}}">
            <flux-todo-item todo="{{item}}" />
          </template>
        </ul>
      </section>
    </template>
  </template>
</dom-module>