<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="flux-todo-textinput">
  <template>
    <style include="todo-shared-styles">
      .edit {
        display: inline;
        width: 506px;
        padding: 13px 17px 12px 17px;
        margin: 0 0 0 43px;
      }

      #new-todo {
      	padding: 16px 16px 16px 60px;
      	border: none;
      	background: rgba(0, 0, 0, 0.02);
      	z-index: 2;
      	box-shadow: none;
      }
    </style>
    <!-- 
      value has to be bound in the two-way fashion to get the user-input.
      in the polymer-definition the property is set explicitly as notify:false
      => the change doesnt get propagated upwards, so its still flux-compatible
    -->
    <input
      type="text"
      class$="[[className]]"
      id="[[idValue]]"
      placeholder="[[placeholder]]"
      on-blur="save"
      on-keydown="onKeyDown"
      value="{{value::input}}"
      autoFocus
    />
  </template>
</dom-module>
